<div class="row" *ngIf="task">
  <div class="col">
    <div class="card text-white mb-4 bg-info">
      <div class="card-body">
        <h6 class="job m-0 font-weight-bold">Task: "{{task.name}}" <small class="job float-right">{{task.id}}</small></h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="elements col">
    <div class="elements card">
      <div class="elements card-header">
        <h6 class="m-0 font-weight-bold text-primary">
          Elements
          <button class="btn btn-primary btn-sm float-right" [disabled]="disableAddElementButton" (click)="addNewElement()">Add Element</button>
        </h6>
      </div>
      <div class="elements card-body">

        <ngx-graph class="chart-container"
                   [links]="hierarchialGraph.links"
                   [nodes]="hierarchialGraph.nodes"
                   [legend]="false"
                   [curve]="curve"
                   [enableZoom] ="false"
                   [animate]="true"
                   [panningEnabled]="false"
                   [autoCenter]="true"
                   [draggingEnabled]="false"
                   [update$]="update$">

          <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>

          <ng-template #nodeTemplate let-node>
              <svg:g class="node"
                     ngx-tooltip
                     [tooltipPlacement]="'top'"
                     [tooltipType]="'tooltip'"
                     [tooltipTitle]="node.description">
                <a (click)="onNodeClick(node.id)">
                  <svg:rect rx="8" ry="8"
                            [attr.width]="node.dimension.width"
                            [attr.height]="node.dimension.height"
                            [attr.fill]="node.color || node.data.color"
                            [attr.stroke-width]="node.strokeWidth"
                            [attr.stroke]="node.strokeColor" />
                  <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2" [attr.fill]="node.textColor">{{node.label}}</svg:text>
                </a>
              </svg:g>
          </ng-template>

          <ng-template #linkTemplate let-link>
            <svg:g class="edge">
              <svg:path class="line"
                        stroke-width="2"
                        marker-end="url(#arrow)">
              </svg:path>
              <a (click)="onLinkClick(link.elementId)">
                <svg:text class="edge-label"
                          text-anchor="middle">
                  <textPath class="text-path"
                            [attr.href]="'#' + link.id"
                            [style.dominant-baseline]="link.dominantBaseline"
                            startOffset="50%">
                    {{link.label}}
                  </textPath>
                </svg:text>
              </a>
            </svg:g>
          </ng-template>
        </ngx-graph>

        <!--<ul class="elements list-group">
          <li *ngFor="let element of elements" class="elements list-group-item" [class.bg-light]="!element.isEnabled">
            <app-element-preview [element]="element"></app-element-preview>
          </li>
        </ul>-->
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Loading data...</p>
</ngx-spinner>
