<app-message></app-message>
<h2>Jobs <button class="btn btn-primary float-right" [disabled]="disableAddJobButton" (click)="onJobSelect()">Add new Job</button></h2>
<div class="row">
  <div class="col">
    <ul class="jobs list-unstyled">
      <li *ngFor="let job of jobs" class="jobs" [class.selected]="job === selectedJob" (click)="onJobSelect(job)">
        <app-job [job]="job"></app-job>
      </li>
    </ul>
  </div>
  <div *ngIf="showJobDetail" class="col-3 job-detail">
    <app-jod-detail [jobDetail]="selectedJobDetail" (jobSaved) ="jobDetailSaved($event)"></app-jod-detail>
  </div>
</div>
