<div class="card">
  <div class="card-header">
    <h5>Job details</h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="jobDetail.name" placeholder="name">
      <div class="invalid-feedback">
        Valid name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="jobDetail.description" placeholder="description" rows="3"></textarea>
      <div class="invalid-feedback">
        Valid description is required.
      </div>
    </div>
    <div class="form-group form-check" *ngIf="jobDetail.isEnabled">
      <input class="form-check-input" type="checkbox" [(ngModel)]="jobDetail.isEnabled" id="isEnabled">
      <label class="form-check-label" for="isEnabled">
        Enabled
      </label>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="jobDetail.failIfAnyTaskHasError" id="failIfAnyTaskHasError">
      <label class="form-check-label" for="failIfAnyTaskHasError">
        Fails if any task has error
      </label>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="jobDetail.failIfAnyTaskHasWarning" id="failIfAnyTaskHasWarning">
      <label class="form-check-label" for="failIfAnyTaskHasWarning">
        Fails if any task has warning
      </label>
    </div>
    <div class="form-group" *ngIf="jobDetail.creationDate">
      Created: {{jobDetail.creationDate | date:'short'}}
    </div>
    <div class="form-group" *ngIf="jobDetail.lastUpdateDate">
      Updated: {{jobDetail.lastUpdateDate | date:'short'}}
    </div>
  </div>
  <div class="card-footer text-right">
    
    <a class="btn btn-primary btn-sm" href="{{jobPagePath}}{{jobDetail.id}}" target="_blank">Open</a>
    <button class="btn btn-success btn-sm" (click)="onJobSave()">Save</button>
  </div>
</div>
